{% extends "base.html" %}
{% import "utils/forms.html" as forms %}

{% block title %}{{ request.user.username }}'s Profile{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h3>{{ request.user.username }}'s Notifications:</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <form id="HappyBirthdayForm" method="post" action="{{ request.path }}" class="notificationForm">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="card">
          <div class="card-divider">
            <div class="row">
              <div class="small-8 columns">
                <h4>Happy Birthday</h4>
              </div>
              <div class="small-4 columns text-right">
                {{ forms.switch(HappyBirthdayForm.is_active) }}
              </div>
            </div>
          </div>
          <div class="card-section">
            {{ forms.field(HappyBirthdayForm.notification_type) }}
            <div class="SMS">
              {{ forms.field(HappyBirthdayForm.sms) }}
            </div>
            <div class="email">
              {{ forms.field(HappyBirthdayForm.email_subject) }}
              {{ forms.field(HappyBirthdayForm.email_body) }}
            </div>
            <a data-dropdown="variable-dropdown" aria-controls="variable-dropdown" data-options="align:left" aria-expanded="false" class="right"></a>
            <div id="variable-dropdown" data-dropdown-content class="f-dropdown content" aria-autoclose="false" aria-hidden="true" tabindex="-1">

            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            <div>
              <button type="submit" class="button">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="large-6 columns">
      <div class="panel">
        <h4>Available variables</h4>
        <hr/>
        <h5>Patient</h5>
        <ul class="no-bullet">
          <li>$patients-first-name</li>
          <li>$patients-last-name</li>
          <li>$patients-age</li>
        </ul>
        <hr/>
        <h5>Patient's Doctor</h5>
        <ul class="no-bullet">
          <li>$doctors-first-name</li>
          <li>$doctors-last-name</li>
          <li>$doctors-suffix</li>
          <li>$doctors-job-title</li>
          <li>$doctors-specialty</li>
          <li>$doctors-cell-phone</li>
          <li>$doctors-home-phone</li>
          <li>$doctors-office-phone</li>
          <li>$doctors-email</li>
          <li>$doctors-website</li>
        </ul>
        <hr/>
        <p>'\' before '$' ignores a variable</p>
      </div>
    </div>
  </div>
{% endblock %}
