<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2161A8">
    {% block meta %}{% endblock %}
    <title>{% block title %}Landing Page{% endblock %} | Happy Birthday drchrono</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ static('images/favicon.png') }}?v=2">
    {% if is_development %}
      {% stylesheet 'sass' %}
    {% else %}
      <link rel="stylesheet" href="{{ static('stylesheets/style.min.css') }}" >
    {% endif %}
    {% javascript 'scripts' %}
  </head>
  <body>
    <div class="header">
      <div class="row">
        <div class="medium-12 columns">
          <h1><a class="text-black" href="{{ url('home') }}" >Happy Birthday drchrono</a></h1>
          {% if request.user.is_authenticated() %}
          <div class="global-nav-right">
            <ul class="tabs">
              <li class="tab-title "><a class="radius body-font-color" href="{{ url('profile') }}">{{ request.user.username }}</a></li>
              <li class="tab-title "><a class="radius body-font-color" href="{{ url('logout') }}">logout</a></li>
            </ul>
          </div>
          {% endif %}
        </div>
        <hr/>
      </div>
    </div>


    {% block overwriteContent %}
      <div class="row">
        <div class="large-12 columns">
          {% block content %}{% endblock %}
        </div>
      </div>
    {% endblock %}

    <footer class="row">
      <hr/>
      <div class="medium-12 columns">
        <ul class="inline-list">
        <li>
          <span>
            <a href="https://github.com/TimothyBest/happy_birthday_drchrono">Happy Birthday drchrono</a>
            <span> is maintained by </span>
            <a href="http://www.timbest.net">TimothyBest</a>.
          </span>
        </li>
      </ul>
      </div>
    </footer>

  </body>
</html>
